fastapi==0.115.0
uvicorn==0.30.0
scikit-learn==1.5.2
xgboost==2.1.1
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2
evidently==0.4.30
streamlit==1.40.0
requests==2.32.3
pytest==8.3.3
httpx==0.27.2
python-multipart==0.0.12
pydantic==2.9.2